<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Cheng-Hao Chen (Ryan Chen)
              </h1>
              <p>
                I am an M.S. student in Electrical and Computer Engineering at Purdue University based in West Lafayette, IN.
              </p>
              <p>
                I am in the Intelligent Imaging Lab at Purdue University, advised by <a href="https://engineering.purdue.edu/ChanGroup/stanleychan.html">Professor Stanley Chan</a>.
              </p>
              <p>
                My research centers on efficient image restoration, with a primary focus on optimizing High Dynamic Range (HDR) denoising pipelines. I leverage techniques such as knowledge distillation to streamline complex models for highly efficient inference. My previous work also explores Generative AI, utilizing diffusion models for image synthesis and computational photography.
              </p>
              <p style="text-align:center">
                <a href="mailto:rc6150@gmail.com">Email</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/ryan-chen-227102224">LinkedIn</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/Ryan_headshot.JPEG">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Education</h2>
              <p><strong>Purdue University</strong> (West Lafayette, IN)<br>
              Master of Science in Electrical and Computer Engineering | Expected May 2027 | GPA: 3.9</p>
              <p><strong>National Cheng Kung University</strong> (Tainan, Taiwan)<br>
              Bachelor of Science in Computer Science and Information Engineering | May 2024 | GPA: 3.7</p>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'portfolio' and post.section == 'project' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <a href="images/{{post.image}}">
                <img src="images/tn/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              </a>
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.date_display}}</em>
              <br>
              {% if post.details %}
              <a href="{{post.details}}">details</a>
              <br>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Experiences</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'portfolio' and post.section == 'experience' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <a href="images/{{post.image}}">
                <img src="images/tn/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              </a>
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.date_display}}</em>
              <br>
              {% if post.details %}
              <a href="{{post.details}}">details</a>
              <br>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

